<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>


    <div class="wrapper">
      <nav>{% include nav.html %}</nav>
      
      <main>{{ content }}</main>
      
      <footer>{% include footer.html %}</footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/scrollnav@3.0.1/dist/scrollnav.min.umd.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const scrollNav = document.querySelector('.scroll-nav');
        const articleContent = document.querySelector('#notes-entry-container');
        
        const headings = Array.from(articleContent.querySelectorAll('h1, h2'));
    
        if (headings.length === 0) {
            scrollNav.style.display = 'none'; // 如果没有 h1 或 h2 标题，隐藏侧边栏目录
        } else {

            const headingTitle = document.createElement('h3');
            headingTitle.textContent = '目录';
            headingTitle.classList.add('scroll-nav__title');
            scrollNav.insertBefore(headingTitle, scrollNav.firstChild);

            headings.forEach((heading, index) => {
                const listItem = document.createElement('li');
                listItem.classList.add('scroll-nav__item');
        
                const link = document.createElement('a');
                link.href = `#section-${index + 1}`;
                link.textContent = heading.textContent;
                link.classList.add('scroll-nav__link');
                link.addEventListener('click', (event) => {
                    event.preventDefault();
                    heading.scrollIntoView({ behavior: 'smooth' });
                });
        
                listItem.appendChild(link);
                scrollNav.appendChild(listItem);
            });
        }
      });
    </script>

    {% include link-previews.html wrapperQuerySelector=".wrapper main" %}

    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'OyewUlzLUjkQavf9KubWNinF-gzGzoHsz',
            appKey: 'wRV1g6m1MxVKCtGWfiVjddXS'
        })
    </script>

  <button id="back-to-top-btn">回到顶部</button>

   <script>
    // 获取按钮元素
var backToTopButton = document.getElementById("back-to-top-btn");

// 监听页面滚动事件
window.onscroll = function() {
    // 如果页面滚动超过 20px，显示按钮，否则隐藏按钮
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        backToTopButton.style.display = "block";
    } else {
        backToTopButton.style.display = "none";
    }
};

// 平滑滚动到页面顶部
backToTopButton.addEventListener("click", function() {
    // 平滑滚动到顶部
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    });
});



   </script>

  </body>
</html>

