---
layout: default
---

<div id="notes-entry-container">
  <content>
    {{ content }}
  </content>

  <side style="font-size: 0.8em">
    <div class="sidebar-profile">
      <img src="/asset/pic/avatar profile.jpeg" alt="Profile Picture">
      <h2>Bertrand</h2>
      <p>内不乱，外离相，谓之禅。</p>

      <p>20年运营管理打工人。</p>
        
      <p>心理咨询师二级。</p>
      
      <p><a href="mailto:bertrandxu@163.com">bertrandxu@163.com</a></p>

      <a href="https://www.zhihu.com/people/bertrandxu">
        <img src="/asset/pic/zhihu.jpeg" alt="Icon" style="width: 30px; height: 30px;">
    </a>

  </div>
  
  </side>
  
</div>

